body.full-width .container {
width: 100%;
max-width: 100%;
scrollbar-width: none;
}

[data-page-route="Workspaces"] .layout-main .layout-main-section {
border: none !important;
padding: var(--padding-md);
margin-bottom: var(--margin-sm);
}
#page-Workspaces[style="display: none;"] {
display: block !important;
}
#page-Workspaces[style="display: none;"] .layout-side-section {
visibility: visible;
}
#page-Workspaces[style="display: none;"] .page-head {
visibility: hidden;
display: none;
}
#page-Workspaces[style="display: none;"] .layout-main-section-wrapper {
min-width: 0;
display: none;
}
.page-container:not(#page-Workspaces) {
width: calc(100vw - 16.666vw) !important;
right: 0;
position: absolute;
  top: var(--navbar-height) !important;
}
#page-Workspaces[style="display: none;"] .layout-side-section {
display: block !important;
  position: fixed;
}
[data-page-route="Workspaces"] .page-head {
z-index: 6;
top: var(--navbar-height);
background: var(--bg-color);
margin-bottom: 5px;
transition: top 0.5s;
width: calc(83.34vw);
right: 0px;
position: absolute;
}
[data-page-route="Workspaces"] .layout-main .layout-main-section-wrapper {
padding-top: var(--page-head-height);
}
[data-page-route="Workspaces"] .layout-main {
height: calc(100vh - var(--navbar-height) - 0px) !important;
}
.form-sidebar .sidebar-image-section {
width: min(100%, 1000px) !important;
cursor: pointer;
border-radius: var(--border-radius-lg);
}
.page-title .sidebar-toggle-btn {

display: none;
}
.layout-side-section {
display: none;
}
:root {
  overscroll-behavior: none;
}
#page-Workspaces .layout-side-section {
display: block !important;
}
