@media only screen and (min-width: 992px) {
body.full-width .container {
width: 100%;
max-width: 100%;
scrollbar-width: none;
}
.missing-image {
background-color: var(--bg-light-gray);
line-height: 300px !important;
vertical-align: middle;
text-align: center;
width: auto !important;
height: 100% !important;
border-radius: var(--border-radius-sm);
aspect-ratio: 1/1 !important;
max-height: 300px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
[data-page-route="Workspaces"] .layout-main .layout-main-section {
border: none !important;
padding: var(--padding-md);
margin-bottom: var(--margin-sm);
}
#page-Workspaces[style="display: none;"] {
display: block !important;
}
#page-Workspaces[style="display: none;"] .layout-side-section {
visibility: visible;
}
#page-Workspaces[style="display: none;"] .page-head {
visibility: hidden;
display: none;
}
#page-Workspaces[style="display: none;"] .layout-main-section-wrapper {
min-width: 0;
display: none;
}
.page-container:not(#page-Workspaces) {
width: calc(100vw - 16.666vw) !important;
right: 0;
position: absolute;
  top: var(--navbar-height) !important;
}
#page-Workspaces[style="display: none;"] .layout-side-section {
display: block !important;

  position: fixed;
}
[data-page-route="Workspaces"] .page-head {
z-index: 6;
top: var(--navbar-height);
background: var(--bg-color);
margin-bottom: 5px;
transition: top 0.5s;
width: calc(83.34vw);
right: 0px;
position: absolute;
}
[data-page-route="Workspaces"] .layout-main .layout-main-section-wrapper {
padding-top: var(--page-head-height);
}
[data-page-route="Workspaces"] .layout-main {
height: calc(100vh - var(--navbar-height) - 0px) !important;
}
.form-sidebar .sidebar-image-section {
width: min(100%, 1000px) !important;
cursor: pointer;
border-radius: var(--border-radius-lg);
}
.page-title .sidebar-toggle-btn {

display: none;
}
.layout-side-section {
display: none;
}
:root {
  overscroll-behavior: none;
}
.search-bar .awesomplete input {

text-align: center;
}
.search-bar {
position: absolute;
width: 33vw !important;
left: calc((100vw - 33vw)/2);
  max-width: 100%!important;
}
#page-Workspaces .layout-side-section {
display: block !important;
}
}
